{% extends 'AppBundle::layout.html.twig' %}
{% block styles %}
    {{ parent() }}
    <style>
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    {% stylesheets
        'css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('../css/bootstrap-datetimepicker.min.css') }}" />
    {#<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />#}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4" style="border: 1px solid">

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.cif) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.cif) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.company) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.company) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.user) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.user) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.dateFrom) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.dateFrom, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                {#<div class="input-group date" id="datetimepicker1">#}
                    {#{{ form_widget(form.dateFrom, {attr:{readonly: 'readonly'}}) }}#}
                    {#<span class="input-group-addon">#}
                        {#<span class="glyphicon glyphicon-calendar"></span>#}
                    {#</span>#}
                    {#<span class="input-group-addon">#}
                        {#<span class="fa fa-calendar">#}
                        {#</span>#}
                    {#</span>#}

                {#</div>#}
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.dateTo) }}
                </div>
                <div class="col-lg-4">
                    <div class="input-group date" data-provide="datepicker">
                        {{ form_widget(form.dateTo, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.done) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.done) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.phone) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.phone) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.clientType) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.clientType) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.actionType) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.actionType) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.province) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.province) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.zip) }}
            </div>
            <div class="col-lg-4"> 
                {{ form_widget(form.zip) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.city) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.city) }}
            </div>
        </div>

        <div class="row">

            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ "Filter" | trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-sm-4">
        <form method="post" action="{{ url("reagendar") }}">
            <table class="table table-condensed">
                <tr>
                    <td>num</td>
                    <td>DateTime</td>
                    <td>Action</td>
                    <td>Company Name</td>
                    <td>Client Type</td>
                    <td>City</td>
                    <td>contacts name</td>
                    <td>contacts phone</td>
                    <td>contacts email</td>
                    <td>action</td>
                </tr>
                {% for report in reports %}
                    <tr>
                        <td>{{ loop.index }}<input type="checkbox" name="reportId[{{ report.id }}]" value="1" /></td>
                        <td>{{ report.date|date ("Y-m-d H:i") }}</td>
                        <td>{{ report.action | report_action }}</td>
                        <td><a href="{{ url("show_report", {id: report.id}) }}"> {{ report.company.name }}</a></td>
                        <td>{{ report.company.type | company_type }}</td>
                        <td>{{ report.company.city}}</td>
                        <td>
                            {% for contact in report.company.contact %}
                                {{ contact.name}},
                            {% endfor %}
                        </td>
                        <td>
                            {% for contact in report.company.contact %}
                                <a href="tel:{{ contact.phone}}">{{ contact.phone}}</a>,
                            {% endfor %}
                        </td>
                        <td>
                            {% for contact in report.company.contact %}
                                <A HREF="mailto:{{ contact.email }}">{{ contact.email }}</A>,
                            {% endfor %}
                        </td>
                        <td>
                            <a data-href="{{ url('delete_report', {company:report.company.id }) }}" class="delete">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        
        
            <div class="input-group date" data-provide="datepicker">
                <input type="date" id="calendar_reasginar" name="calendar_reasginar" class="form-control" style="width: 180px;">                    
            </div>       


            <input type="submit" name="boton" value="Reasignar" />
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#report_company").select2();
    });
    </script>
    <script type="text/javascript">
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-3d'
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".delete").on('click', function() {
                if (confirm('Are you sure you want to delete it?')) {
                    document.location = $(this).attr('data-href');
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}