{% extends 'AppBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style>
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    {% stylesheets
        'css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('../css/bootstrap-datetimepicker.min.css') }}" />
    {#<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />#}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Create Proposal</h2>

        </div>
    </div>
    <div class="row">
    {{ form_start(form) }}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.company) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.company) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.state) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.state) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.type) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.type) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.finalcial) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {##}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.drawee) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {##}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.rating) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.rating) }}#}
            {#</div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.operationalType) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.operationalType) }}#}
            {#</div>#}
        {#</div>#}

        {#<button class="btn btn-primary btn-lg btn-block" type="submit">Next</button>#}

        {#{{ form_end(form) }}#}
    {#</div>#}

{% endblock %}
