{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Create Remesa</h2>

        </div>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'id' : 'form'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.state) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.state) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.emision) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.emision, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.notice) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.notice, { 'attr':{'class': 'campito'} }) }}
            </div>
        </div>

        <div class="row messageNotice">
            <div class="col-lg-4">
                {{ form_label(form.noticeMessage) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.noticeMessage, { 'attr':{'class': 'campito'} }) }}
            </div>
        </div>

        <div class="row reason">
            <div class="col-lg-4">
                {{ form_label(form.reason) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.reason) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.nominal) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.nominal, { 'attr':{'class': 'campito'} }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.calculadora) }}
            </div>
            <div class="col-lg-4">
                <table class="calculadora" data-prototype="{{ form_widget(form.calculadora.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    <tr>
                        <td>nominal</td>
                        <td>costeFinanciero</td>
                        <td>costeUnitario</td>
                        <td>timbres</td>
                        <td>formalizacion</td>
                        <td>vencimiento</td>
                        <td>dias</td>
                        <td>tae</td>
                        <td>drawee</td>
                    </tr>
                    {% for calculadora in form.calculadora %}
                        <tr>
                            <td>{{ form_row(calculadora.nominal, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.costeFinanciero, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.costeUnitario, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.timbres, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.formalizacion, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.vencimiento, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.dias, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.tae, { 'attr':{'class': 'campito'} }) }}</td>
                            <td>{{ form_row(calculadora.drawee, { 'attr':{'class': 'campito'} }) }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="row second">
            <table>
                <tr>
                    <td>Extra</td>
                    <td>OMF</td>
                    <td>Mensajeria</td>
                    <td>Burofax</td>
                    <td>Otros gastos</td>
                </tr>
                <tr>

                    <td>{{ form_widget(form.extra, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.omf, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.mensajeria, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.burofax, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.gastos, { 'attr':{'class': 'campito'} }) }}</td>
                </tr>
            </table>

            <div class="row third">
                <div class="col-lg-4">
                    Honorarios
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.honorarios, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
            <div class="fourth">
                <table>
                    <tr>
                        <td></td>
                        <td>Coste Financiero</td>
                        <td>Coste Financiero + Ledser</td>
                        <td>Coste Total</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ form_widget(form.costeFinancieroTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeFinancieroLedserTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeTotalTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                    <tr>
                        <td>Tae</td>
                        <td>{{ form_widget(form.costeFinancieroTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeFinancieroLedserTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeTotalTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                    <tr>
                        <td>Mensual</td>
                        <td>{{ form_widget(form.costeFinancieroMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeFinancieroLedserMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeTotalMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                    <tr>
                        <td>Coste</td>
                        <td>{{ form_widget(form.costeFinancieroCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeFinancieroLedserCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeTotalCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                    <tr>
                        <td>Liquido</td>
                        <td>{{ form_widget(form.costeFinancieroLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeFinancieroLedserLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                        <td>{{ form_widget(form.costeTotalLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                </table>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente</button>

            </div>

        </div>

        <div style="display: none;"> {{ form_widget(form.proposal) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
//        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            format: 'yyyy-MM-dd',
            startDate: '-3d'
        });
    </script>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a calculator" link
        var $addCalculatorButton = $('<button type="button" class="add_calculator_link">Add a calculator</button>');
        var $newLinkLi = $('<tr></tr>').append($addCalculatorButton);
        $(function () {


    $collectionHolder = $('table.calculadora');

    // add the "add a Calculator" anchor and li to the Calculators ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addCalculatorButton.on('click', function(e) {
        // add a new Calculator form (see next code block)
        addCalculatorForm($collectionHolder, $newLinkLi);
    });
});
        
    </script>
{% endblock %}
