{% import _self as formMacros %}
{% macro printCalculadoraRow(calculadoraForm) %}
    <tr class="col-xs-4 js-calculadora-item">
        <td class="col-lg-10">
            {{ form_errors(calculadoraForm) }}
            <a href="#" class="js-remove-calculadora pull-right">
                <span class="fa fa-close">[X]</span>
            </a>
        </td>
        <td>{{ form_widget(calculadoraForm.nominal, { 'attr':{'class': 'campito linea-nominal'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.formalizacion, { 'attr':{'class': 'campito'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.vencimiento, { 'attr':{'class': 'campito'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.dias, { 'attr':{'class': 'campitod linea-dias'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.timbres, { 'attr':{'class': 'campito linea-timbres'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.tae, { 'attr':{'class': 'campito linea-tae'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.costeFinanciero, { 'attr':{'class': 'campito linea-costeFinanciero'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.costeUnitario, { 'attr':{'class': 'campito linea-costeUnitario'} }) }}</td>
        <td>{{ form_widget(calculadoraForm.drawee, { 'attr':{'class': 'campito'} }) }}</td>
    </tr>
{% endmacro %}

{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Create Remesa</h2>

        </div>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'id' : 'form'}}) }}
        {{ form_errors(form) }}
        <div style="float: left">
            <table>
                <tr>
                    <td></td>
                    <td>Coste Financiero</td>
                    <td>Coste Financiero + Ledser</td>
                    <td>Coste Total</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ form_widget(form.costeFinancieroTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeFinancieroLedserTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeTotalTotal, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                </tr>
                <tr>
                    <td>Tae</td>
                    <td>{{ form_widget(form.costeFinancieroTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeFinancieroLedserTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeTotalTae, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                <tr>
                    <td>Mensual</td>
                    <td>{{ form_widget(form.costeFinancieroMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeFinancieroLedserMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>                        <td>{{ form_widget(form.costeTotalMensual, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    </tr>
                <tr>
                    <td>Coste</td>
                    <td>{{ form_widget(form.costeFinancieroCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeFinancieroLedserCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeTotalCoste, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>                    </tr>
                <tr>
                    <td>Liquido</td>
                    <td>{{ form_widget(form.costeFinancieroLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeFinancieroLedserLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                    <td>{{ form_widget(form.costeTotalLiquido, { 'attr':{'class': 'campito', 'readonly':true} }) }}</td>
                </tr>
            </table>
        </div>


        <div class="row" style="float: left; display: block; margin-left: 40px;">
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.state) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.state) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.emision) }}
                </div>
                <div class="col-lg-4">
                    <div class="input-group date" data-provide="datepicker">
                        {{ form_widget(form.emision, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.notice) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.notice, { 'attr':{'class': 'campito'} }) }}
                    <div class="col-lg-4 messageNotice">
                        {{ form_widget(form.noticeMessage, { 'attr':{'class': 'campito'} }) }}
                    </div>
                </div>
            </div>
            <div class="row reason">
                <div class="col-lg-4">
                    {{ form_label(form.reason) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.reason) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.nominal) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.nominal, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
        </div>

        <div class="row" style="float: left;display: block; margin-left: 40px;">
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.omf) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.omf, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.mensajeria) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.mensajeria, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.burofax) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.burofax, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.gastos) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.gastos, { 'attr':{'class': 'campito'} }) }}
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="row">
            <table>
                <tr>
                    <td>Honorarios</td>
                    <td>Extra</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.honorarios, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.extra, { 'attr':{'class': 'campito'} }) }}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="calculadora js-calculadora-wrapper" data-prototype="{{ formMacros.printCalculadoraRow(form.calculadora.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing tag and render its only field: name #}
                <tr>
                    <td>close[x]</td>
                    <td>nominal</td>
                    <td>formalizacion</td>
                    <td>vencimiento</td>
                    <td>dias</td>
                    <td>timbres</td>
                    <td>tae</td>
                    <td>costeFinanciero</td>
                    <td>costeUnitario</td>
                    <td>drawee</td>
                </tr>

                <tr>
                    <td></td>
                    <td>{{ form_widget(form.totalNominal, { 'attr':{'class': 'campito'} }) }}</td>
                    <td></td>
                    <td></td>
                    <td>{{ form_widget(form.mediaDias, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.totalTimbres, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.mediaTae, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.totalCosteFinanciero, { 'attr':{'class': 'campito'} }) }}</td>
                    <td>{{ form_widget(form.totalCoste, { 'attr':{'class': 'campito'} }) }}</td>
                    <td></td>

                </tr>
                {% for calculadoraForm in form.calculadora %}
                    {{ formMacros.printCalculadoraRow(calculadoraForm) }}
                {% endfor %}
            </table>
            <button type="button" class="add_calculator_link">Add a calculator</button>
        </div>


            <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente</button>


        </div>

        <div style="display: none;"> {{ form_widget(form.proposal) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
   <script type="text/javascript">
//        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
       /*$('.datepicker').datepicker({
           format: 'yyyy-MM-dd',
           startDate: '-3d'
       });*/
        calculaDias(0);
        function calculaDias(index) {
            var start = $("#remesa_calculadora_"+index+"_formalizacion").val();
            var startD = new Date(start);
            var end = $("#remesa_calculadora_"+index+"_vencimiento").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));
            $("#remesa_calculadora_"+index+"_dias").val(diff);
        }
        function  reloadDates(index) {
            console.log(index);
            var start = $("#remesa_calculadora_"+index+"_formalizacion").val();
            var startD = new Date(start);
            var finishD = new Date(start);
            var dateString = finishD.getUTCDate() +"/"+ (finishD.getUTCMonth()+1) +"/"+ finishD.getUTCFullYear() ;
            console.log(dateString);
            finishD.setDate(finishD.getDate() + parseInt($("#remesa_calculadora_"+index+"_dias").val()));
            var nd = new Date(finishD);
            var day = ("0" + nd.getDate()).slice(-2);
            var month = ("0" + (nd.getMonth() + 1)).slice(-2);
            var dateString = nd.getUTCFullYear() +"-"+ month +"-"+ day;
            console.log(dateString);
            $("#remesa_calculadora_"+index+"_vencimiento").val(dateString);
        }
   </script>

   <script type="text/javascript">
       var $collectionHolder;

       $(function () {
           $(".messageNotice").hide();
           $("input[id$='dias']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               reloadDates(index);
            });
           $("input[id$='vencimiento']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               calculaDias(index);
            });
           $("input[id$='formalizacion']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               calculaDias(index);
            });
            recalculaTotales() ;



           $("#remesa_notice").on("click", function() {
		        if($("#remesa_notice").prop('checked') ) {
                    $(".messageNotice").show();
                } else {
                    $(".messageNotice").hide();
                }
            });
           if ($("#remesa_state").val() == 5) {
                $(".reason").show();
            } else {
                $(".reason").hide();
            }
            $("#remesa_state").on('change', function () {
                if ($("#remesa_state").val() == 5) {
                    $(".reason").show();
                } else {
                    $(".reason").hide();
                }
            });
           $collectionHolder = $('table.calculadora');
           $collectionHolder.data('index', $collectionHolder.find(':input').length);
           $(".add_calculator_link").on('click', function(e) {
               addCalculatorForm($collectionHolder);
           });
           var $wrapper = $('.js-calculadora-wrapper');
           $wrapper.on('click', '.js-remove-calculadora', function(e) {
               e.preventDefault();
               $(this).closest('.js-calculadora-item')
                   .remove();
           });
       });

       function addCalculatorForm($collectionHolder) {
           // Get the data-prototype explained earlier
           var prototype = $collectionHolder.data('prototype');
           var index = $collectionHolder.data('index');
           var newForm = prototype;
           newForm = newForm.replace(/__name__/g, index);
           $collectionHolder.data('index', index + 1);
           $collectionHolder.append(newForm);

           $("input[id$='dias']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               reloadDates(index);
            });
           $("input[id$='vencimiento']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               calculaDias(index);
            });
           $("input[id$='formalizacion']").on("change", function() {
               var index = $(this).attr('id').substr(19,1);
               calculaDias(index);
            });
           var d = Date(Date.now());
           $("#remesa_calculadora_" + index + "_formalizacion").val(d.toString());
           debugger;
           $("#remesa_calculadora_" + index + "_vencimiento").val(d.toString());
           recalculaTotales() ;
       }
       
       function calculaTotalNominal() {
            var total = 0;
            $(".linea-nominal").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });
            console.log("index --> " + $(".linea-nominal").length);
            console.log("total media linea-nominal --> " + total);
            return total;
       }

       function recalculaTotales() {

           $(".linea-nominal").on("change", function() {
               $("#remesa_totalNominal").val(calculaTotalNominal());
            });
           $(".linea-dias").on("change", function() {
               $("#remesa_mediaDias").val(calculaMediaDias());
            });
           $(".linea-tae").on("change", function() {
               $("#remesa_mediaTae").val(calculaMediaTae());
            });
           $(".linea-timbres").on("change", function() {
               $("#remesa_totalCosteFinanciero").val(calculaTotalCosteFinanciero());
            });
           $(".linea-costeUnitario").on("change", function() {
               $("#remesa_totalCosteUnitario").val(calculaTotalCoste());
            });
           $(".linea-timbres").on("change", function() {
               $("#remesa_totalTimbres").val(calculaTotalTimbres());
            });
       }

       function calculaMediaDias() {
            var total = 0;
            $(".linea-dias").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });
            console.log("index --> " + $(".linea-dias").length);
            console.log("total media dias --> " + total);
            return total/$(".linea-dias").length;
       }

       function calculaMediaTae() {
           var total = 0;
            $(".linea-tae").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });

            console.log("index --> " + $(".linea-tae").length);
            console.log("total media tae --> " + total);
            return total/$(".linea-tae").length;
       }

       function calculaTotalCosteFinanciero() {
           var total = 0;
            $(".linea-costeFinanciero").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });
            console.log("index --> " + $(".linea-costeFinanciero").length);
            console.log("total media calculaTotalCosteFinanciero --> " + total);
            return total;
       }

       function calculaTotalCoste() {
           var total = 0;
            $(".linea-costeTotal").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });
            console.log("index --> " + $(".linea-costeTotal").length);
            console.log("total media linea-costeTotal --> " + total);
            return total;
       }

       function calculaTotalTimbres() {
            var total = 0;
            $(".linea-timbres").each(function( index ) {
                if($.isNumeric($(this).val())) {
                    total = parseFloat(total)+ parseFloat($(this).val());
                }
            });
            console.log("index --> " + $(".linea-timbres").length);
            console.log("total media linea-linea-timbres --> " + total);
            return total;
       }
   </script>
{% endblock %}
