{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Create Remesa</h2>

        </div>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'id' : 'form'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.state) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.state) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.emision) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.emision, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.notice) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.notice, { 'attr':{'class': 'campito'} }) }}
            </div>
        </div>

        <div class="row messageNotice">
            <div class="col-lg-4">
                {{ form_label(form.noticeMessage) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.noticeMessage, { 'attr':{'class': 'campito'} }) }}
            </div>
        </div>

        

                <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente</button>

            </div>

        </div>

        <div style="display: none;"> {{ form_widget(form.proposal) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
//        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            format: 'yyyy-MM-dd',
            startDate: '-3d'
        });
    </script>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a calculator" link
        var $addCalculatorButton = $('<button type="button" class="add_calculator_link">Add a calculator</button>');
        var $newLinkLi = $('<tr></tr>').append($addCalculatorButton);
        $(function () {


    $collectionHolder = $('table.calculadora');

    // add the "add a Calculator" anchor and li to the Calculators ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addCalculatorButton.on('click', function(e) {
        // add a new Calculator form (see next code block)
        addCalculatorForm($collectionHolder, $newLinkLi);
    });
});
        }
    </script>
{% endblock %}
