{% extends 'AppBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style>
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    {% stylesheets
        'css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('../css/bootstrap-datetimepicker.min.css') }}" />
    {#<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />#}

{% endblock %}

{% block content %}
<td class="row">
    <div class="col-sm-4" style="border: 1px solid">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.status) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.company) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.company) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.financial) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.financial) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.drawee) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.drawee) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.user) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.user) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.from) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.from, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.to) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.to, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.type) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.type) }}#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.operationalType) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.operationalType) }}
            </div>
        </div>

        <div class="row">

            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ "Filter" | trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>



    {% set costeTotal = 0 %}
    {% set costeTTotal = 0 %}
    {% set honorariosTotal = 0 %}
    {% set diasT = 0 %}
    {% set taeCFT = 0 %}
    {% set taeCLT = 0 %}
    {% set taeTT = 0 %}
    {% set nominalT = 0 %}

    <table class="table bg-dark text-light">
        {#<div class="w-100"></div>#}
        <tr>
            <td>id</td>
            <td>Proposal From</td>
            <td>User</td>
            <td>company</td>
            <td>Finalcial</td>
            <td>Drawee</td>
            <td>state</td>
            <td>Rating</td>
            <td>Type</td>
            <td>Nominal</td>
            <td>Date diff</td>
            <td>Tae coste financiero (coste)</td>
            <td>Tae coste + ledser (honorarios)</td>
            <td>Tae coste total (coste)</td>
            {#<div class="col">Tipo operacion</div>#}
            <td>Acción</td>
        </tr>

    {% for proposal in proposals %}
        {% set miCalculadora = proposal.calculator | first %}
        {% set closed = false %}
        {% for calculator in proposal.calculator %}
                {% if calculator.state == 7 %}

                     {% set closed = false %}
                {% endif %}
            {% endfor %}
        <tr  {% if closed %}style="background-color: brown"{% elseif proposal.operationalType == 'Advance' %}style="background-color: darkgreen"{% elseif loop.index is odd %} class="bg-secondary"{% endif %}>
            <td>
                {{ loop.index  }}
            </td>
            <td>
                {% if proposal.calculator | length == 1 %}
                    <span style="display: block">{{ miCalculadora.formalizacion | date("Y-m-d") }}</span>
                {% endif %}
            </td>
            <td>{{ proposal.user.name  }}</td>
            <td><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
            <td>
                {{ proposal.finalcial.name  }}

            </td>
            <td>
                {% if proposal.calculator | length == 1 %}
                    {% set miCalculadora = proposal.calculator | first %}
                    {{ miCalculadora.drawee.name  }}
                {% endif %}
            </td>

            <td></td>
            <td>{{ proposal.company.rating }}</td>
            <td>{{ proposal.operationalType  }}</td>
            {% set coste = 0 %}
            {% set costeT = 0 %}
            {% set honorarios = 0 %}
            {% set nominal = 0 %}
            {% set dias = 0 %}
            {% set taeCF = 0 %}
            {% set taeCL = 0 %}
            {% set taeT = 0 %}

            {% set num = 0 %}
            {% for calculator in proposal.calculator %}
                {% set num = num + 1 %}
                {% set coste = coste + calculator.costeFinanciero.coste %}
                {% set costeT =  calculator.costeTotal.coste + costeT %}
                {% set honorarios = honorarios + calculator.honorarios %}

                {% set dias = calculator.dias + dias %}
                {% set taeCF = calculator.costeFinanciero.tae + taeCF %}
                {% set taeCL = calculator.costeFinancieroLedser.tae + taeCL %}
                {% set taeT = calculator.costeTotal.tae +taeT %}
                {% set nominal = calculator.nominal + nominal %}
            {% endfor %}

                {% set costeTTotal = costeTTotal + costeT %}
                {% set honorariosTotal = honorarios + honorariosTotal %}
                {% set costeTotal = costeTotal + coste %}
                {% set diasT = diasT + (dias/num) %}
                {% set nominalT = nominalT + (nominal) %}
                {% set taeCFT = taeCFT + (taeCF/num) %}
                {% set taeCLT = taeCLT + (taeCL/num) %}
                {% set taeTT = taeTT + (taeT/num) %}

            <td>{% if num == 0 %}0(0){% else %}{{ (nominal )|number_format(2) }}{% endif %}</td>
            <td>{% if num == 0 %}0{% else %}{{ (dias/num)|number_format(0) }}{% endif %}</td>


            <td>
                {% if num == 0 %}0{% else %}
                    {{ ((coste) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    {{  (taeCF/num)|number_format(2) }}
                    <br/>
                    ({{ (coste)|number_format(2) }})
                {% endif %}
            </td>
            <td>
                {% if num == 0 %}0{% else %}
                    {{ ((honorarios + coste) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    {{ (taeCL/num)|number_format(2) }}
                    <br/>({{ (honorarios)|number_format(2) }}){% endif %}
            </td>
            <td>
                {% if num == 0 %}0{% else %}
                    {{ ((costeT) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    {{ (taeT/num)|number_format(2) }}
                    <br/>({{ (costeT)|number_format(2) }}){% endif %}
            </td>
            <td>
                <a href="{{ url('create_calculator', {proposal:proposal.id}) }}">Añadir calculadora</a>
                <a href="{{ url('edit_proposal' , {proposal:proposal.id}) }}">Edit</a>
                {% if proposal.calculator | length == 1 %}
                    {% set miCalculadora = proposal.calculator | first %}
                    <a href="{{ url('edit_calculator' , {calculator: miCalculadora.id}) }}">Edit calculator</a>
                {% endif %}
		        <a class="delete" data-href="{{ url('delete_proposal' , {proposal:proposal.id}) }}">Delete</a>
                <a href="{{ url('add_file', {company: proposal.finalcial.id}) }}">Add file</a>
            </td>
        </tr>
        {% if proposal.calculator | length > 1 %}
            {% for calculator in proposal.calculator %}
                <tr style="background-color: #117a8b;">
                <td></td>
                <td>
                    <span style="display: block">{{ calculator.formalizacion | date("Y-m-d") }}</span>
                </td>
                <td>{{ proposal.user.name  }}</td>
                <td><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
                <td>{{ proposal.finalcial.name  }}</td>
                <td>{{ proposal.drawee.name  }}</td>
                <td>{{ calculator.state | calculator_status }}{%if (calculator.state == 5)%} {{calculator.reason}}{%endif%}</td>
                <td>{{ proposal.company.rating }}</td>
                <td>{{ proposal.operationalType  }}</td>
                <td>{{ calculator.nominal|number_format(2) }}</td>
                <td>{{ calculator.dias|number_format(0) }}</td>
                <td>{{ calculator.costeFinanciero.tae|number_format(2) }} <br/>({{ calculator.costeFinanciero.coste |number_format(2) }})</td>
                <td>{{ calculator.costeFinancieroLedser.tae |number_format(2) }}<br/>({{ calculator.honorarios|number_format(2) }})</td>
                <td>{{ calculator.costeTotal.tae|number_format(2) }}<br/>({{calculator.costeTotal.coste |number_format(2) }})</td>
                <td>
                     <a href="{{ url('edit_calculator' , {calculator:calculator.id}) }}">Edit</a>
                     <a data-href="{{ url('delete_calculator' , {calculator:calculator.id}) }}">Delete</a>
                </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}

        <tr>
            <td>TOTAL</td>
            <td colspan="8"></td>
            <td>{{ (nominalT)|number_format(2) }}</td>
            <td>{{ (diasT / proposals| length)|number_format(2) }}</td>
            <td> {{ costeTotal }} * 360 * 100 / ({{ nominalT }} * {{ diasT }})
                {{ (costeTotal * 360 * 100 / (nominalT * diasT))|number_format(2) }}
                {{ (taeCFT / proposals| length)|number_format(2)|number_format(2) }}
                ({{ costeTotal |number_format(2) }})</td>
            <td>
                ({{ honorariosTotal }} + {{ costeTotal }}) * 360 * 100 / ({{ nominalT }} * {{ diasT }} )
                {{ ((honorariosTotal + costeTotal) * 360 * 100 / (nominalT * diasT ))|number_format(2) }}
                {{ (taeCLT / proposals| length)|number_format(2) }}
                ({{ (honorariosTotal)|number_format(2) }})
            </td>
            <td>
                {{costeTTotal}} * 360 * 100 / ({{nominalT}} * {{diasT}} )
                {{ (costeTTotal * 360 * 100 / (nominalT * diasT ))|number_format(2) }}
                {{ (taeTT / proposals| length)|number_format(2) }}
                ({{ (costeTTotal)|number_format(2) }})
            </td>
        </tr>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
//        $('.datepicker').datepicker({
//            format: 'yyyy-mm-dd',
//            startDate: '-3d'
//        });
$(function() {
	$(".delete").on('click', function(){
        if(confirm('Are you suere you want to delete it?'))
		{
			document.location = $(this).attr('data-href');
			return true;
		} else {
			return false;
		}
	});
});
    </script>
{% endblock %}
