{% extends 'AppBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style>
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    {% stylesheets
        'css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('../css/bootstrap-datetimepicker.min.css') }}" />
    {#<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />#}

{% endblock %}

{% block content %}
<td class="row">
    <div class="col-sm-4" style="border: 1px solid">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.status) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.company) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.company) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.financial) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.financial) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.drawee) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.drawee) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.user) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.user) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.from) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.from, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.to) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.to, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.type) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.type) }}#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.operationalType) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.operationalType) }}
            </div>
        </div>

        <div class="row">

            <button class="btn btn-primary btn-lg btn-block" style="background-color: #A90500 !important;" type="submit">{{ "Filter" | trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>



    {% set costeTotal = 0 %}
    {% set costeTTotal = 0 %}
    {% set honorariosTotal = 0 %}
    {% set diasT = 0 %}
    {% set taeCFT = 0 %}
    {% set taeCLT = 0 %}
    {% set taeTT = 0 %}
    {% set nominalT = 0 %}

    <table class="table text-light" style="background-color: #a90500 !important;">
        {#<div class="w-100"></div>#}
        <tr>
            <td style="border-top: 3px solid black;">id</td>
            <td style="border-top: 3px solid black;">Proposal From</td>
            <td style="border-top: 3px solid black;">User</td>
            <td style="border-top: 3px solid black;">company</td>
            <td style="border-top: 3px solid black;">Finalcial</td>
            <td style="border-top: 3px solid black;">Drawee</td>
            <td style="border-top: 3px solid black;">state</td>
            <td style="border-top: 3px solid black;">Rating</td>
            {#<td style="border-top: 3px solid black;">Type</td>#}
            <td style="border-top: 3px solid black;">Nominal</td>
            <td style="border-top: 3px solid black;">Date diff</td>
            <td style="border-top: 3px solid black;">Tae coste financiero (coste)</td>
            <td style="border-top: 3px solid black;">Tae coste + ledser (honorarios)</td>
            <td style="border-top: 3px solid black;">Tae coste total (coste)</td>
            {#<div class="col">Tipo operacion</div>#}
            <td style="border-top: 3px solid black;">Acción</td>
        </tr>

    {% for proposal in proposals %}
        {% set miCalculadora = proposal.calculator | first %}
        {% set closed = false %}
        {% for calculator in proposal.calculator %}
                {% if calculator.state > 4 %}
                     {% set closed = false %}
                {% endif %}
            {% endfor %}
        <tr

            {% if proposal.operationalType == 'Discount' %}
                {% set styles ="background-color: white; color: black;" %}
            {% elseif proposal.operationalType == 'Advance' %}
                {% set styles ="background-color: darkgreen;" %}
            {% elseif proposal.operationalType == 'Loan' %}
                {% set styles ="background-color: #1e4294; color: white;" %}

            {#{% elseif loop.index is odd %} class="bg-secondary"#}
            {% endif %}
            {% if proposal.calculator | length == 1 %}
                {% if miCalculadora.state == 5 %}
                    {% set styles ="background-color: brown; color: white;"  %}
                {% elseif miCalculadora.state == 6 %}
                    {% set styles ="background-color: #ca9828; color: white;"  %}
                {% elseif miCalculadora.state == 7 %}
                    {% set styles ="background-color: red; color: white;"  %}
                {% endif %}
            {% endif %}

            style="{{ styles }}border: 3px solid black;">
            <td style="border-top: 3px solid black;">
                {{ loop.index  }}
            </td>
            <td style="border-top: 3px solid black;">
                {% if proposal.calculator | length == 1 %}
                    <span style="display: block">{{ miCalculadora.formalizacion | date("Y-m-d") }}</span>
                {% endif %}
            </td>
            <td style="border-top: 3px solid black;">{{ proposal.user.name  }}</td>
            <td style="border-top: 3px solid black;"><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
            <td style="border-top: 3px solid black;">
                {{ proposal.finalcial.name  }}

            </td>
            <td style="border-top: 3px solid black;">
                {% if proposal.calculator | length == 1 %}
                    {% set miCalculadora = proposal.calculator | first %}
                    {{ miCalculadora.drawee.name  }}
                {% endif %}
            </td>

            <td style="border-top: 3px solid black;">{% if proposal.calculator | length == 1 %}{{ miCalculadora.state | calculator_status  }}{%if (miCalculadora.state == 5)%} {{calculator.reason}}{%endif%{% endif %}</td>
            <td style="border-top: 3px solid black;">{% if proposal.calculator | length == 1 %}{{ miCalculadora.drawee.rating }}{% endif %}</td>
            {#<td style="border-top: 3px solid black;">{{ proposal.operationalType  }}</td>#}
            {% set coste = 0 %}
            {% set costeT = 0 %}
            {% set honorarios = 0 %}
            {% set nominal = 0 %}
            {% set dias = 0 %}
            {% set taeCF = 0 %}
            {% set taeCL = 0 %}
            {% set taeT = 0 %}

            {% set num = 0 %}
            {% for calculator in proposal.calculator %}
                {% set num = num + 1 %}
                {% set coste = coste + calculator.costeFinanciero.coste %}
                {% set costeT =  calculator.costeTotal.coste + costeT %}
                {% set honorarios = honorarios + calculator.honorarios %}

                {% set dias = calculator.dias + dias %}
                {% set taeCF = calculator.costeFinanciero.tae + taeCF %}
                {% set taeCL = calculator.costeFinancieroLedser.tae + taeCL %}
                {% set taeT = calculator.costeTotal.tae +taeT %}
                {% set nominal = calculator.nominal + nominal %}
            {% endfor %}

                {% set costeTTotal = costeTTotal + costeT %}
                {% set honorariosTotal = honorarios + honorariosTotal %}
                {% set costeTotal = costeTotal + coste %}
                {% set diasT = diasT + (dias/num) %}
                {% set nominalT = nominalT + (nominal) %}
                {% set taeCFT = taeCFT + (taeCF/num) %}
                {% set taeCLT = taeCLT + (taeCL/num) %}
                {% set taeTT = taeTT + (taeT/num) %}

            <td style="border-top: 3px solid black;">{% if num == 0 %}0(0){% else %}{{ (nominal )|number_format(2) }}{% endif %}</td>
            <td style="border-top: 3px solid black;">{% if num == 0 %}0{% else %}{{ (dias/num)|number_format(0) }}{% endif %}</td>


            <td style="border-top: 3px solid black;">
                {% if num == 0 %}0{% else %}
                    {{ ((coste) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    <br/>
                    ({{ (coste)|number_format(2) }})
                {% endif %}
            </td>
            <td style="border-top: 3px solid black;">
                {% if num == 0 %}0{% else %}
                    {{ ((honorarios + coste) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    <br/>({{ (honorarios)|number_format(2) }}){% endif %}
            </td>
            <td style="border-top: 3px solid black;">
                {% if num == 0 %}0{% else %}
                    {{ ((costeT) * 360 * 100 * num / (nominal * dias ))|number_format(2) }}
                    <br/>({{ (costeT)|number_format(2) }}){% endif %}
            </td>
            <td style="border-top: 3px solid black;">
                <a href="{{ url('create_calculator', {proposal:proposal.id}) }}">Añadir calculadora</a>
                <a href="{{ url('edit_proposal' , {proposal:proposal.id}) }}">Edit</a>
                {% if proposal.calculator | length == 1 %}
                    {% set miCalculadora = proposal.calculator | first %}
                    <a href="{{ url('edit_calculator' , {calculator: miCalculadora.id}) }}">Edit calculator</a>
                {% endif %}
		        <a class="delete" data-href="{{ url('delete_proposal' , {proposal:proposal.id}) }}">Delete</a>
                <a href="{{ url('add_file', {company: proposal.finalcial.id}) }}">Add file</a>
            </td>
        </tr>
        {% if proposal.calculator | length > 1 %}
            {% for calculator in proposal.calculator %}
                <tr style="background-color: #117a8b;">
                <td style="border-top: 3px solid black;"></td>
                <td style="border-top: 3px solid black;">
                    <span style="display: block">{{ calculator.formalizacion | date("Y-m-d") }}</span>
                </td>
                <td style="border-top: 3px solid black;">{{ proposal.user.name  }}</td>
                <td style="border-top: 3px solid black;"><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
                <td style="border-top: 3px solid black;">{{ proposal.finalcial.name  }}</td>
                <td style="border-top: 3px solid black;">{{ calculator.drawee.name  }}</td>
                <td style="border-top: 3px solid black;">{{ calculator.state | calculator_status }}{%if (calculator.state == 5)%} {{calculator.reason}}{%endif%}</td>
                <td style="border-top: 3px solid black;">{{ calculator.drawee.rating }}</td>
                {#<td style="border-top: 3px solid black;">{{ proposal.operationalType  }}</td>#}
                <td style="border-top: 3px solid black;">{{ calculator.nominal|number_format(2) }}</td>
                <td style="border-top: 3px solid black;">{{ calculator.dias|number_format(0) }}</td>
                <td style="border-top: 3px solid black;">{{ calculator.costeFinanciero.tae|number_format(2) }} <br/>({{ calculator.costeFinanciero.coste |number_format(2) }})</td>
                <td style="border-top: 3px solid black;">{{ calculator.costeFinancieroLedser.tae |number_format(2) }}<br/>({{ calculator.honorarios|number_format(2) }})</td>
                <td style="border-top: 3px solid black;">{{ calculator.costeTotal.tae|number_format(2) }}<br/>({{calculator.costeTotal.coste |number_format(2) }})</td>
                <td style="border-top: 3px solid black;">
                     <a href="{{ url('edit_calculator' , {calculator:calculator.id}) }}">Edit</a>
                     <a data-href="{{ url('delete_calculator' , {calculator:calculator.id}) }}" class="delete">Delete</a>
                </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}

        <tr>
            <td style="border-top: 3px solid black;">TOTAL</td>
            <td colspan="8"></td>
            <td style="border-top: 3px solid black;">{{ (nominalT)|number_format(2) }}</td>
            <td style="border-top: 3px solid black;">{{ (diasT / proposals| length)|number_format(2) }}</td>
            <td style="border-top: 3px solid black;">{{ (costeTotal * 360 * 100 * proposals| length / (nominalT * diasT))|number_format(2) }}
                ({{ costeTotal |number_format(2) }})</td>
            <td style="border-top: 3px solid black;">
                {{ ((honorariosTotal + costeTotal) * 360 * 100 * proposals| length / (nominalT * diasT ))|number_format(2) }}
                ({{ (honorariosTotal)|number_format(2) }})
            </td>
            <td style="border-top: 3px solid black;">
                {{ (costeTTotal * 360 * 100 * proposals| length / (nominalT * diasT ))|number_format(2) }}
                ({{ (costeTTotal)|number_format(2) }})
            </td>
        </tr>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
//        $('.datepicker').datepicker({
//            format: 'yyyy-mm-dd',
//            startDate: '-3d'
//        });
$(function() {
	$(".delete").on('click', function(){
        if(confirm('Are you suere you want to delete it?'))
		{
			document.location = $(this).attr('data-href');
			return true;
		} else {
			return false;
		}
	});
});
    </script>
{% endblock %}
