{% extends 'AppBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style>
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    {% stylesheets
        'css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('../css/bootstrap-datetimepicker.min.css') }}" />
    {#<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />#}

{% endblock %}

{% block content %}


<td class="row">
    <div class="col-sm-4" style="border: 1px solid">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.status) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.company) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.company) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.financial) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.financial) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.from) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.from, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.to) }}
            </div>
            <div class="col-lg-4">
                <div class="input-group date" data-provide="datepicker">
                    {{ form_widget(form.to, {'attr' : {'class' : "form-control", 'style' : 'width: 180px;', 'data-date-format': "yyyy-MM-dd"}}) }} {#<input type="text" class="form-control">#}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_label(form.type) }}#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#{{ form_widget(form.type) }}#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-lg-4">
                {{ form_label(form.operationalType) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.operationalType) }}
            </div>
        </div>

        <div class="row">

            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ "Filter" | trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>



    {% set costeTotal = 0 %}
    {% set costeTTotal = 0 %}
    {% set honorariosTotal = 0 %}
    {% set diasT = 0 %}
    {% set taeCFT = 0 %}
    {% set taeCLT = 0 %}
    {% set taeTT = 0 %}
    {% set nominalT = 0 %}

    <table class="table bg-dark text-light">
        {#<div class="w-100"></div>#}
        <tr>
            <td>id</td>
            <td>Proposal From / Proposal To</td>
            <td>User</td>
            <td>company</td>
            <td>Finalcial</td>
            <td>Drawee</td>
            <td>state</td>
            <td>Rating</td>
            <td>Type</td>
            <td>Nominal</td>
            <td>Date diff</td>
            <td>Tae coste financiero (coste)</td>
            <td>Tae coste + ledser (honorarios)</td>
            <td>Tae coste total (coste)</td>
            {#<div class="col">Tipo operacion</div>#}
            <td>Acción</td>
        </tr>

    {% for proposal in proposals %}
        <tr class=" {% if loop.index is odd %}bg-secondary{% endif %}">
            <td>{{ loop.index  }}</td>
            <td></td>
            <td>{{ proposal.user.name  }}</td>
            <td><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
            <td>{{ proposal.finalcial.name  }}</td>
            <td>{{ proposal.drawee.name  }}</td>
            <td>{{ proposal.state | proposal_status }}{%if (proposal.state == 5)%} {{proposal.reason}}{%endif%}</td>
            <td>{{ proposal.company.rating }}</td>
            <td>{{ proposal.operationalType  }}</td>
            {% set coste = 0 %}
            {% set costeT = 0 %}
            {% set honorarios = 0 %}
            {% set nominal = 0 %}
            {% set dias = 0 %}
            {% set taeCF = 0 %}
            {% set taeCL = 0 %}
            {% set taeT = 0 %}

            {% set num = 0 %}
            {% for calculator in proposal.calculator %}
                {% set num = num + 1 %}
                {% set coste = coste + calculator.costeFinanciero.coste %}
                {% set costeT =  calculator.costeTotal.coste + costeT %}
                {% set honorarios = honorarios + calculator.honorarios %}

                {% set dias = calculator.dias + dias %}
                {% set taeCF = calculator.costeFinanciero.tae + taeCF %}
                {% set taeCL = calculator.costeFinancieroLedser.tae + taeCL %}
                {% set taeT = calculator.costeTotal.tae +taeT %}
                {% set nominal = calculator.nominal + nominal %}
            {% endfor %}
            {% set costeTTotal = costeTTotal + costeT %}
            {% set honorariosTotal = honorarios + honorariosTotal %}
            {% set costeTotal = costeTotal + coste %}
            {% set diasT = diasT + (dias/num) %}
            {% set nominalT = nominalT + (nominal) %}
            {% set taeCFT = taeCFT + (taeCF/num) %}
            {% set taeCLT = taeCLT + (taeCL/num) %}
            {% set taeTT = taeTT + (taeT/num) %}
            <td>{% if num == 0 %}0(0){% else %}{{ (nominal )|number_format(2) }}{% endif %}</td>
            <td>{% if num == 0 %}0{% else %}{{ (dias/num)|number_format(0) }}{% endif %}</td>
            <td>{% if num == 0 %}0{% else %}{{ (taeCF/num)|number_format(2) }} <br/>({{ (coste)|number_format(2) }}){% endif %}</td>
            <td>{% if num == 0 %}0{% else %}{{ (taeCL/num)|number_format(2) }}<br/>({{ (honorarios)|number_format(2) }}){% endif %}</td>
            <td>{% if num == 0 %}0{% else %}{{ (taeT/num)|number_format(2) }}<br/>({{ (costeT)|number_format(2) }}){% endif %}</td>
            <td>
                <a href="{{ url('create_calculator', {proposal:proposal.id}) }}">Añadir calculadora</a>
                <a href="{{ url('edit_proposal' , {proposal:proposal.id}) }}">Edit</a>
		<a class="delete" data-href="{{ url('delete_proposal' , {proposal:proposal.id}) }}">Delete</a>
            </td>
        </tr>
        {% for calculator in proposal.calculator %}
            <td></td>
            <td>
            {% for calculator in proposal.calculator %}
                <span style="display: block">{{ calculator.formalizacion | date("Y-m-d") }}</span> /
                <span style="display: block">{{ calculator.vencimiento   | date("Y-m-d") }}</span>
            </td>
            <td>{{ proposal.user.name  }}</td>
            <td><a href="{{ url('show_proposal', {id: proposal.id}) }}"> {{ proposal.company.name }}</a></td>
            <td>{{ proposal.finalcial.name  }}</td>
            <td>{{ proposal.drawee.name  }}</td>
            <td>{{ proposal.state | proposal_status }}{%if (proposal.state == 5)%} {{proposal.reason}}{%endif%}</td>
            <td>{{ proposal.company.rating }}</td>
            <td>{{ proposal.operationalType  }}</td>
            <td>{{ calculator.nominal|number_format(2) }}</td>
            <td>{{ calculator.dias|number_format(0) }}</td>
            <td>{{ calculator.costeFinanciero.tae|number_format(2) }} <br/>({{ calculator.costeFinanciero.coste |number_format(2) }})</td>
            <td>{{ calculator.costeFinancieroLedser.tae |number_format(2) }}<br/>({{ calculator.honorarios|number_format(2) }})</td>
            <td>{{ calculator.costeTotal.tae|number_format(2) }}<br/>({{calculator.costeTotal.coste |number_format(2) }})</td>
            <td>
                 <a href="{{ url('edit_calculator' , {calculator:calculator.id}) }}">Edit</a>
            </td>
        {% endfor %}
    {% endfor %}

        <tr>
            <td>TOTAL</td>
            <td colspan="8"></td>
            <td>{{ (nominalT)|number_format(2) }}</td>
            <td>{{ (diasT / proposals| length)|number_format(2) }}</td>
            <td>{{ (taeCFT / proposals| length)|number_format(2) }} ({{ costeTotal |number_format(2) }})</td>
            <td>{{ (taeCLT / proposals| length)|number_format(2) }} ({{ (honorariosTotal)|number_format(2) }})</td>
            <td>{{ (taeTT / proposals| length)|number_format(2) }} ({{ (costeTTotal)|number_format(2) }})</td>
        </tr>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-3d'
        });
$(function() {
	$(".delete").on('click', function(){
		if(confirm('Are you suere you want to delete it?'))
		{
			document.location = $(this).attr('data-href');
			return true;
		} else {
			return false;
		}
	});
});
    </script>
{% endblock %}
