{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <table>
        <tr>
        <td>id</td>
        <td>Name</td>
        <td>Last name</td>
        <td>dni</td>
        <td>Address</td>
        <td>City</td>
        <td>Action</td>
        </tr>
    {% for agent in agents %}
        <tr class="{% if loop.index is odd %}bg-secondary{% endif %}">
            <td>{{ loop.index }} </td>
            <td><a href="{{ url('show_agent', {id: agent.id}) }}"> {{ agent.name }}</a> </td>
            <td>{{ agent.lastName }}</td>
            <td>{{ agent.dni }}</td>
            <td>{{ agent.address }}</td>
            <td>{{ agent.city }}</td>
            <td>
                <a href="{{ url('edit_agent', {agent: agent.id}) }}">Edit</a>
                <a data-href="{{ url('delete_agent', {agent: agent.id}) }}" class="delete">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $(".delete").on('click', function() {
                if (confirm('Are you sure you want to delete it?')) {
                    document.location = $(this).attr('data-href');
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}
