{#<header class="shadow">#}
    {#<div class="row collapse">#}
        {#<nav class="float-right hide-for-small-only">#}
            {#<a href="{{ url('calendar') }}">{{ "Calendar"|trans }}</a>#}
            {#<a href="{{ url('report_list') }}">{{ "Report List"|trans }}</a>#}
            {#<a href="{{ url('create_proposal') }}">{{ "Proposals"|trans }}</a>#}
            {#<a href="{{ url('report_create') }}">{{ "create report"|trans }}</a>#}
            {#<a href="{{ url('send_email') }}">{{ "Send Email"|trans }}</a>#}
            {#<a href="{{ url('create_company') }}">{{ "Create Company"|trans }}</a>#}
            {#<a href="{{ url('list_company') }}">{{ "List company"|trans }}</a>#}
        {#</nav>#}
    {#</div>#}
{#</header>#}

<nav class="navbar navbar-expand-md fixed-top bg-dark" style="background-color: #A90500 !important;color: white;">
    {#<a class="navbar-brand" href="#">Navbar</a>#}
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if app.request.get('_route') == 'calendar' %} active{% endif %}">
                <a class="nav-link" style="color: white;"  href="{{ url('calendar') }}">{{ "Calendar"|trans }}</a>
            </li>
            <li class="nav-item dropdown{% if app.request.get('_route') == 'create_proposal' or app.request.get('_route') == 'list_proposal' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" style="color: white;"  href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proposals</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="color: black;" href="{{ url('create_proposal') }}">{{ "Create Proposals"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_proposal') }}">{{ "List Proposals"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('drawee_rist') }}">{{ "Drawee risk"|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown{% if app.request.get('_route') == 'create_company' or app.request.get('_route') == 'list_company' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" style="color: white;"  href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="color: black;" href="{{ url('create_company') }}">{{ "Create Company"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_company') }}">{{ "List company"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_client') }}">{{ "List Clients"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_finantial') }}">{{ "List Finantial"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_drawee') }}">{{ "List Drawee"|trans }}</a>
                    {#<a class="dropdown-item" style="color: black;" href="{{ url('list_proponent') }}">{{ "List Proponent"|trans }}</a>#}
                    {#<a class="dropdown-item" style="color: black;" href="{{ url('list_freed') }}">{{ "List no client"|trans }}</a>#}
                    <a class="dropdown-item" style="color: black;" href="{{ url('create_contact') }}">{{ "Create Contact"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_contact') }}">{{ "List contact"|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown{% if app.request.get('_route') == 'report_list' or app.request.get('_route') == 'report_create' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" style="color: white;"  href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="color: black;" href="{{ url('report_create') }}">{{ "Create report"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('report_list') }}">{{ "Report List"|trans }}</a>
                </div>
            </li>


            <li class="nav-item dropdown{% if app.request.get('_route') == 'list_agent' or app.request.get('_route') == 'create_agent' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" style="color: white;"  href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agents</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="color: black;" href="{{ url('create_agent') }}">{{ "Create Agent"|trans }}</a>
                    <a class="dropdown-item" style="color: black;" href="{{ url('list_agent') }}">{{ "Agent List"|trans }}</a>
                </div>
            </li>            <li class="nav-item">
                <a class="nav-link disabled" href="#">Send Email</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <img src="{{ asset('img/ledser.jpg') }}" style="padding-right: 20px;"/>
            <li class="active"><a style="color: white;"  href="{{ url('fos_user_security_logout') }}">Logout</a></li>
        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
    </div>
</nav>

