{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4" style="border: 1px solid">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(form.type) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.type) }}
                </div>
            </div>
            <div class="row">

                <button class="btn btn-primary btn-lg btn-block" type="submit">{{ "Filter" | trans }}</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <table>
        <tr>
        <td class="col">id</td>
        <td class="col">Name</td>
        <td class="col">Cif</td>
        <td class="col">Cnae</td>
        <td class="col">Type</td>
        <td class="col">Address</td>
        <td class="col">City</td>
        <td class="col">contacts name</td>
        <td class="col">contacts phone</td>
        <td class="col">contacts email</td>
        <td class="col">Action</td>
        </tr>
    {% for company in companies %}
        <tr class="row {% if loop.index is odd %}bg-secondary{% endif %}">
            <td class="col">{{ loop.index }} </td>
            <td class="col"><a href="{{ url('show_company', {id: company.id}) }}"> {{ company.name }}</a> </td>
            <td class="col">{{ company.cif }}</td>
            <td class="col">{{ company.cnae }}</td>
            <td class="col">{{ company.type | company_type }}</td>
            <td class="col">{{ company.address }}</td>
            <td class="col">{{ company.city }}</td>
            <td class="col">
                {% for contact in company.contact %}
                    {{ contact.name}},
                {% endfor %}
            </td>
            <td class="col">
                {% for contact in company.contact %}
                    {{ contact.phone}},
                {% endfor %}
            </td>
            <td class="col">
                {% for contact in company.contact %}
                    <A HREF="mailto:{{ contact.email }}">{{ contact.email }}</A>,
                {% endfor %}
            </td>
            <td class="col">
                <a href="{{ url('edit_company', {company: company.id}) }}">Edit</a>
                <a data-href="{{ url('delete_company', {company: company.id}) }}" class="delete">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $(".delete").on('click', function() {
                if (confirm('Are you sure you want to delete it?')) {
                    document.location = $(this).attr('data-href');
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}