{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div id="map" style="height: 400px; position: static !important; width: 100%;"></div>        
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

   <script>
      var map;
      function initMap() {
       var  map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.4213845, lng: -3.6775698},
          zoom: 13
        });
        var locations = [
{% for company in companies %}
            ['{{ company.latitude }}', {{ company.name }}, {{ company.longitude }}, {{ loop.index }}]{% if not loop.last %},{% endif %}
{% endfor %}
        ];
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {  
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
                }
            })(marker, i));
        }
$("#map").css("position","static !important");
     }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_places }}&callback=initMap"
    async defer></script>
{% endblock %}
