{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            {{ 'Id' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.id }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Name' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Cnae' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.cnae }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Type' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.type }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Address' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.address }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'City' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.city }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Zip' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.zip }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Province' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.province }}
        </div>
    </div>
    <div class="row">
        <h5>Contacts</h5>

        <table class="table table-condensed">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
            {%  for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
