{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            {{ 'Id' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.id }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Name' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Cnae' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.cnae }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Type' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.type | company_type }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Address' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.address }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'City' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.city }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Zip' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.zip }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ 'Province' | trans }}:
        </div>
        <div class="col-lg-4">
            {{ company.province }}
        </div>
    </div>
    <div class="row">
        <h5>Contacts</h5>

        <table class="table table-condensed">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
            {%  for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>/td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Facturacion
        </div>
        <div class="col-lg-4">
            {{ company.facturacion | company_facturacion }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Tipo Clientes
        </div>
        <div class="col-lg-4">
            {{ company.tipoClientes | company_cliente }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Clientes:
        </div>
        <div class="col-lg-4">
            {{ company.tipoClientesTexto }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Banco
        </div>
        <div class="col-lg-4">
            {{ company.banco | company_si_no }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Linea Descuento
        </div>
        <div class="col-lg-4">
            {{ company.lineaDescuento | company_si_no }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Saturan
        </div>
        <div class="col-lg-4">
            {{ company.saturan | company_si_no }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Competencia
        </div>
        <div class="col-lg-4">
            {{ company.competencia | company_si_no }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Cual:
        </div>
        <div class="col-lg-4">
            {{ company.competenciaTexto }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Medio Cobro
        </div>
        <div class="col-lg-4">
            {% for medio in company.medioCobro %}
                {{ medio | company_medio_cobro }},
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Plazo
        </div>
        <div class="col-lg-4">
            {{ company.plazo | company_plazo }}
        </div>
    </div>
{% endblock %}
